@using OnlineShop.Model.ViewModel.Category;
@model List<CategoryViewModel>;
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>سفارشات</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                        <li class="breadcrumb-item active">جداول داده</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>نام دسته </th>
                                    <th>قابلیت ها</th>

                                </tr>
                            </thead>
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td> @category.Id </td>
                                    <td> @category.Title </td>
                                    <td style="display: flex; ">
                                        <span style="display: inline-block; margin-right:3px;">
                                            <button type="button" style="width: 80px;" class="btn btn-block btn-danger custom-btn">حذف</button>
                                        </span>
                                        <span style="display: inline-block; margin-right: 4px;">
                                            <a asp-action="Edit" asp-controller="ManageCategory" asp-route-id="@category.Id"  style="width: 80px;" class="btn btn-block btn-warning custom-btn">ویرایش </a>
                                        </span>
                                        <span style="display: inline-block; margin-right: 4px;">
                                            <button type="button" style="width: 80px;" class="btn btn-block btn-info">جزئیات </button>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
@section Scripts {
    <script>
        function ShowDelete()
        {
            $.ajax({
                type:"get",
                url:"/Admin/Home/Edit",
                success:function (data){
                    $("#Modal_body").html("");
                    $("#Modal_body").html(data);
                    $("#Modal_Main").modal('toggle');
                }
            });
        }
    </script>
}

